[workspace]
resolver = "2"
members = [
    "common",
    "consumer",
    "platforms/macos",
    "platforms/unix",
    "platforms/windows",
    "platforms/winit",
    "bindings/c",
    "bindings/java",
]
default-members = [
    "common",
    "consumer",
    "platforms/winit",
    "bindings/c",
]

[profile.release]
lto = true
panic = "abort"
debug = true
opt-level = "z"
codegen-units = 1
