[package]
name = "accesskit_macos"
version = "0.22.0"
authors.workspace = true
license.workspace = true
description = "AccessKit UI accessibility infrastructure: macOS adapter"
categories.workspace = true
keywords = ["gui", "ui", "accessibility"]
repository.workspace = true
readme = "README.md"
edition.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
default-target = "x86_64-apple-darwin"

[dependencies]
accesskit = { version = "0.21.0", path = "../../common" }
accesskit_consumer = { version = "0.30.0", path = "../../consumer" }
hashbrown = { version = "0.15", default-features = false, features = ["default-hasher"] }
objc2 = "0.6.2"
objc2-foundation = { version = "0.3.1", features = [
    "NSArray",
    "NSDictionary",
    "NSValue",
    "NSThread",
] }
objc2-app-kit = { version = "0.3.1", features = [
    "NSAccessibility",
    "NSAccessibilityConstants",
    "NSAccessibilityElement",
    "NSAccessibilityProtocols",
    "NSResponder",
    "NSView",
    "NSWindow",
] }
