[package]
name = "accesskit_windows"
version = "0.31.1"
authors.workspace = true
license.workspace = true
description = "AccessKit UI accessibility infrastructure: Windows adapter"
categories.workspace = true
keywords = ["gui", "ui", "accessibility"]
repository.workspace = true
readme = "README.md"
edition.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"
targets = []

[dependencies]
accesskit = { version = "0.23.0", path = "../../common" }
accesskit_consumer = { version = "0.33.1", path = "../../consumer" }
hashbrown.workspace = true
static_assertions = "1.1.0"
windows-core = "0.62.0"

[dependencies.windows]
version = "0.62.0"
features = [
    "Win32_Foundation",
    "Win32_Globalization",
    "Win32_Graphics_Gdi",
    "Win32_System_Com",
    "Win32_System_LibraryLoader",
    "Win32_System_Ole",
    "Win32_System_Variant",
    "Win32_UI_Accessibility",
    "Win32_UI_Input_KeyboardAndMouse",
    "Win32_UI_WindowsAndMessaging",
]

[dev-dependencies]
once_cell = "1.13.0"
parking_lot = "0.12.4"
scopeguard = "1.1.0"
winit = "0.30"
