[package]
name = "accesskit_winit"
version = "0.18.7"
authors.workspace = true
license = "Apache-2.0"
description = "AccessKit UI accessibility infrastructure: winit adapter"
categories.workspace = true
keywords = ["gui", "ui", "accessibility", "winit"]
repository.workspace = true
readme = "README.md"
edition.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
features = ["winit/rwh_06", "winit/x11", "winit/wayland"]

[features]
default = ["accesskit_unix", "async-io", "rwh_06"]
rwh_05 = ["winit/rwh_05", "dep:rwh_05"]
rwh_06 = ["winit/rwh_06", "dep:rwh_06"]
async-io = ["accesskit_unix/async-io"]
tokio = ["accesskit_unix/tokio"]

[dependencies]
accesskit = { version = "0.12.3", path = "../../common" }
winit = { version = "0.29", default-features = false }
rwh_05 = { package = "raw-window-handle", version = "0.5", features = ["std"], optional = true }
rwh_06 = { package = "raw-window-handle", version = "0.6", features = ["std"], optional = true }

[target.'cfg(target_os = "windows")'.dependencies]
accesskit_windows = { version = "0.16.4", path = "../windows" }

[target.'cfg(target_os = "macos")'.dependencies]
accesskit_macos = { version = "0.11.1", path = "../macos" }

[target.'cfg(any(target_os = "linux", target_os = "dragonfly", target_os = "freebsd", target_os = "openbsd", target_os = "netbsd"))'.dependencies]
accesskit_unix = { version = "0.7.5", path = "../unix", optional = true, default-features = false }

[dev-dependencies.winit]
version = "0.29"
default-features = false
features = ["x11", "wayland", "wayland-dlopen", "wayland-csd-adwaita"]
