[package]
name = "accesskit_winit"
version = "0.29.2"
authors.workspace = true
license = "Apache-2.0"
description = "AccessKit UI accessibility infrastructure: winit adapter"
categories.workspace = true
keywords = ["gui", "ui", "accessibility", "winit"]
repository.workspace = true
readme = "README.md"
edition.workspace = true
rust-version.workspace = true

[features]
default = ["accesskit_unix", "async-io", "rwh_06", "winit/x11", "winit/wayland"]
rwh_05 = ["winit/rwh_05", "dep:rwh_05"]
rwh_06 = ["winit/rwh_06", "dep:rwh_06"]
async-io = ["accesskit_unix/async-io"]
tokio = ["accesskit_unix/tokio"]
multitree = []

[dependencies]
accesskit = { version = "0.21.1", path = "../../common" }
accesskit_multitree = { version = "0.1.0", path = "../multitree" }
winit = { version = "0.30.5", default-features = false }
rwh_05 = { package = "raw-window-handle", version = "0.5", features = ["std"], optional = true }
rwh_06 = { package = "raw-window-handle", version = "0.6.2", features = ["std"], optional = true }

[target.'cfg(target_os = "windows")'.dependencies]
accesskit_windows = { version = "0.29.1", path = "../windows" }

[target.'cfg(target_os = "macos")'.dependencies]
accesskit_macos = { version = "0.22.1", path = "../macos" }

[target.'cfg(any(target_os = "linux", target_os = "dragonfly", target_os = "freebsd", target_os = "openbsd", target_os = "netbsd"))'.dependencies]
accesskit_unix = { version = "0.17.1", path = "../unix", optional = true, default-features = false }

[target.'cfg(target_os = "android")'.dependencies]
accesskit_android = { version = "0.4.1", path = "../android", optional = true, features = ["embedded-dex"] }

[dev-dependencies.winit]
version = "0.30.5"
default-features = false
features = ["x11", "wayland", "wayland-dlopen", "wayland-csd-adwaita"]

