[package]
name = "accesskit"
version = "0.8.1"
authors = ["Matt Campbell <mattcampbell@pobox.com>"]
license = "MIT/Apache-2.0"
description = "UI accessibility infrastructure across platforms"
categories = ["gui"]
keywords = ["gui", "ui", "accessibility"]
repository = "https://github.com/AccessKit/accesskit"
readme = "README.md"
edition = "2021"

[package.metadata.docs.rs]
features = ["schemars", "serde"]

[dependencies]
enumn = { version = "0.1.6", optional = true }
schemars = { version = "0.8.7", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }

[features]
serde = ["dep:serde", "enumn"]
